<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head.ejs %>
  <% include ./layouts/navigation.ejs %>

    <body>
      <!-- Page Content -->
      <div class="container">

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/index">Home</a>
          </li>
          <li class="breadcrumb-item active">Available Cars</li>
        </ol>
        <div class="col-lg-8 mb-4">
          <h3>Select Journey Details</h3>

          <form name="CarSelection" id="selectionForm" action="/CarDetails" method=POST>
            
            <input type="hidden" name='direction' value=<%= direction%>>
            
            <div class="control-group form-group">
              <div class="controls">
                <label>Journey Date:</label>
                <input type="date" class="form-control" name="date" required data-validation-required-message="Please enter journey date.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#">
                        <img class="card-img-top" src="/ToyotaInnova.jpg" alt="">
                      </a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <!-- <a href="/cardetails/innova" onclick="validateDate(document.DateValue)">Select Seats</a> -->
                          <button type="submit" formaction="/InnovaBooking" class="btn btn-primary" name="button">Book</button>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente
                          nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora
                          ex quae? Nihil, dolorem!</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#">
                        <img class="card-img-top" src="/Etios.jpg" alt="">
                      </a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <!-- <a href="/cardetails/etios" onclick="validateDate()">Select Seats</a> -->
                          <!-- <input type="submit" class="btn btn-primary" name="button" value='etios'>Book</button> -->
                          <button type="submit" formaction="/EtiosBooking" class="btn btn-primary" name="button">Book</button>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                          urna varius vitae.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#">
                        <img class="card-img-top" src="/ChevroletEnjoy.jpg" alt="">
                      </a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <!-- <a href="/cardetails/enjoy" onclick="validateDate()">Select Seats</a> -->
                          <button type="submit" formaction="/EnjoyBooking" class="btn btn-primary" name="button">Book</button>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio
                          distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae
                          vero vel quam!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="success"></div>
              <!-- For success/fail messages -->
          </form>
          </div>
        </div>
        <!-- Portfolio Section -->
        <hr>
      </div>
      <!-- /.container -->

      <% include ./layouts/footer.ejs %>
    </body>

    <script>
      function validateDate() {
        var element = document.getElementById("DateValue");
        alert(element);
        return false;
      }
    </script>

</html>