<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Available Cars</h2>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Enjoy</h4>
        <div>
          <table>
            <tr>
              <td>
                <a href="/cardetails/enjoy" class="btn btn-primary">Book</a>
              </td>
              <td>
                <p>Seat Available</p>
              </td>
            </tr>
          </table>
        </div>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Etios</h4>
        <div>
          <table>
            <tr>
              <td>
                <a href="/cardetails/etios" class="btn btn-primary">Book</a>
              </td>
              <td>
                <p>Seat Available</p>
              </td>
            </tr>
          </table>
        </div>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Innova</h4>
        <div>
          <table>
            <tr>
              <td>
                <a href="/cardetails/innova" class="btn btn-primary">Book</a>
              </td>
              <td>
                <p>Seat Available</p>
              </td>
            </tr>
          </table>
        </div>
      </a>
    </div>
  </div>

</body>

</html>