<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Available Cars</h2>
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Enjoy</h4>
        <div>
          <table>
            <tr>
              <td>
                <button class="btn btn-primary" onclick="GetCarDetails()">Book</button>
              </td>
              <td>
                <p>Seat Available</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Etios</h4>
        <div>
          <table>
            <tr>
              <td>
                <a href="/cardetails/etios" class="btn btn-primary">Book</a>
              </td>
              <td>
                <p>Seat Available</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Innova</h4>
        <div>
          <table>
            <tr>
              <td>
                <a href="/cardetails/innova" class="btn btn-primary">Book</a>
              </td>
              <td>
                <p>Seat Available</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="BookingArea">

  </div>
</body>

<script>
  function GetCarDetails() {
    var para = document.createElement("p");
    var node = document.createTextNode("This is new.");
    para.appendChild(node);
    var element = document.getElementById("BookingArea");
    element.appendChild(para);
  }
</script>

</html>