<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head >
</head>
<body>
<h1>PayUMoney Payment Request Form </h1>
<form action="https://test.payu.in/_payment"  name="payuform" method=POST >
<input type="hidden" name="key"value="UFu3ed" />
<input type="hidden" name="hash_string" value="" />
<input type="hidden" name="hash" id="hash" value= ""/>
<input type="hidden" name="txnid" value="AHJ3112"/>
<table>
<tr>
<td><b>Mandatory Parameters</b></td>
</tr>
<tr>
<td>Amount: </td>
<td><input name="amount"  /></td>
<td>First Name: </td>
<td><input name="firstname" id="firstname"  /></td>
</tr>
<tr>
<td>Email: </td>
<td><input name="email" id="email"   /></td>
<td>Phone: </td>
<td><input name="phone"  /></td>
</tr>
<tr>
<td>Product Info: </td>
<td colspan="3"><textarea name="productinfo" >  </textarea></td>
</tr>
<tr>
<td>Success URI: </td>
<td colspan="3"><input name="surl"  size="64"  /></td>
</tr>
<tr>
<td>Failure URI: </td>
<td colspan="3"><input name="furl"  size="64" /></td>
</tr>
<tr>
<td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" /></td>
</tr>
<tr>
<td><b>Optional Parameters</b></td>
</tr>
<tr>
<td>Last Name: </td>
<td><input name="lastname" id="lastname"  /></td>
<td>Cancel URI: </td>
<td><input name="curl" value="" /></td>
</tr>
<tr>
<td>Address1: </td>
<td><input name="address1" /></td>
<td>Address2: </td>
<td><input name="address2"  /></td>
</tr>
<tr>
<td>City: </td>
<td><input name="city"  /></td>
<td>State: </td>
<td><input name="state"  /></td>
</tr>
<tr>
<td>Country: </td>
<td><input name="country"  /></td>
<td>Zipcode: </td>
<td><input name="zipcode"  /></td>
</tr>
<tr>
<td>UDF1: </td>
<td><input name="udf1"  /></td>
<td>UDF2: </td>
<td><input name="udf2"  /></td>
</tr>
<tr>
<td>UDF3: </td>
<td><input name="udf3"   /></td>
<td>UDF4: </td>
<td><input name="udf4"  /></td>
</tr>
<tr>
<td>UDF5: </td>
<td><input name="udf5"  /></td>
<td>PG: </td>
<td><input name="pg"  /></td>
</tr>
<td colspan="4"><input type="submit" value=""  onclick="Makecall()"/></td>
</tr>
</table>
</form>
</body>
<script>
     function Makecall(){

        // var xhttp = new XMLHttpRequest();
        //     xhttp.onreadystatechange = function () {
        //         if (this.readyState == 4 && this.status == 200) {
        //             var myObj = JSON.parse(this.responseText);
        //             alert(myObj["hash"]);
        //             document.getElementById("hash").value = myObj["hash"];
        //             //myObj["coord"].lat + "<br>" + myObj["coord"].lon;
        //         }
        //     };
        //     xhttp.open("GET", "http://localhost:777/createHash/"+'JBZaLc|AHJ3112|100|ABCD|Rohit|rohit.galgali@gmail.com|2222222||||||||||', true);
        //     xhttp.send();
        var data = { preHashString: 'JBZaLc|AHJ3112|100|ABCD|Rohit|rohit.galgali@gmail.com|2222222||||||||||'};
        var url = 'http://localhost:777/createHash';
        $http.post(url, data).success(function (data, status) {
            console.log(status);
            if (status == 200) {
                document.getElementById('hash').value = data.hash;
                document.getElementById('paymentForm').submit();
            }
        });
     }
      
</script>
</html>