<h2>
    <%= name %>
</h2>
<h2>
    <%= model %>
</h2>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<table>
    <tr>

        <td>
            <a href="/BookingDetails/1" class="btn btn-primary">1</a>
        </td>
        <td>
            <img src="../SteeringWheel.jpg" alt="Chevrolet Enjoy" style="width:20px; height:20px;" >
        </td>

    </tr>
    <tr>
        <td>
            <a href="/BookingDetails/2" class="btn btn-primary">2</a>
        </td>
        <td>
            <a href="/BookingDetails/3" class="btn btn-primary">3</a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="/BookingDetails/4" class="btn btn-primary">4</a>
        </td>
        <td>
            <a href="/BookingDetails/5" class="btn btn-primary">5</a>
        </td>
    </tr>
</table>