<h2>
    <%= name %>
</h2>
<h2>
    <%= model %>
</h2>

<table>
    <tr>

        <td>
            <button>1</button>
        </td>
        <td>
            <img src="../SteeringWheel.jpg" alt="Chevrolet Enjoy" style="width:20px; height:20px;" >
        </td>

    </tr>
    <tr>
        <td>
            <button>2</button>
        </td>
        <td>
            <button>3</button>
        </td>

    </tr>
    <tr>
        <td>
            <button>4</button>
        </td>
        <td>
            <button>5</button>
        </td>
    </tr>
</table>