<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
<% include ./layouts/navigation.ejs %>
<% include ./layouts/header.ejs %>
  <body>
    <div class="container">

      <h1 class="my-4">Welcome to Devang Cab services</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Aurangabad To Pune</h4>
            <div class="card-body">
              <p class="card-text">Cab services from Aurangabad to Pune are available on daily basis.</p>
              <p class="card-text">There are three three cab variants you can book from. These cabs start at 6 am from Aurangabad towards Pune.</p>
            </div>
            <div class="card-footer">
              <a href="/availablecars/a2p" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Pune to Aurangabad</h4>
            <div class="card-body">
              <p class="card-text">Cab services from Pune to Aurangabad are available on daily basis.</p>
              <p class="card-text">There are three three cab variants you can book from. These three cabs start at 4 pm, 5pm and 6pm from Pune towards Aurangabad.</p>
            </div>
            <div class="card-footer">
              <a href="/availablecars/p2a" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </body>
<% include ./layouts/footer.ejs %>
</html>